.markdown {
  --path: none;
  --radius-top: 12px;
  --radius-bottom: 12px;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-left: 1rem;
  --padding-right: 1rem;
  --line-number-width: calc(7 * var(--spacing));
}

.markdown > :first-child {
  margin-top: 0 !important;
}

.markdown > :last-child {
  margin-bottom: 0 !important;
}

.markdown pre {
  margin: 1.25rem 0;
  overflow: auto;
  font-size: 0.875rem;
  clip-path: var(--path);
  border-top-right-radius: var(--radius-top);
  border-top-left-radius: var(--radius-top);
  border-bottom-right-radius: var(--radius-bottom);
  border-bottom-left-radius: var(--radius-bottom);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.markdown [data-language] pre {
  padding: 1rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.markdown [data-language] {
  margin: 1.25rem 0;
}

.markdown pre code {
  width: max-content;
  min-width: 100%;
}

.markdown img {
  max-width: 100%;
  height: auto;
}
