
/* Line styling */
pre code[data-theme*=' '] [data-line] {
  position: relative;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.has-focused pre code[data-theme*=' '] [data-line]:not(.focused) {
  filter: blur(2px);
  transition: filter 200ms;
}

.has-focused:hover pre code[data-theme*=' '] [data-line]:not(.focused) {
  filter: blur(0);
}

/* Line numbers */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line] {
  counter-increment: line;
  padding-left: calc(var(--padding-left) + 7 * var(--spacing));
  position: relative;
  min-height: 1lh;
}

code[data-line-numbers] > [data-line]::before {
  content: counter(line);
  position: absolute;
  left: calc(var(--spacing) * 1);
  color: color-mix(
    in oklab,
    var(--counter-color, var(--muted-foreground)) 60%,
    transparent
  );
  top: 0;
  width: calc(7 * var(--spacing));
  text-align: right;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: calc(8 * var(--spacing));
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: calc(9 * var(--spacing));
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: calc(10 * var(--spacing));
}

/* Diff styling */
[data-line].diff::before {
  position: absolute;
  left: calc(var(--spacing) * 1.5);
}

[data-line].diff.remove {
  opacity: 0.7;
  --counter-color: #ef4444;
  background-color: rgba(239, 68, 68, 0.1);
}

[data-line].diff.remove::before {
  content: '-';
  color: #ef4444;
}

[data-line].diff.add {
  --counter-color: #22c55e;
  background-color: rgba(34, 197, 94, 0.1);
}

[data-line].diff.add::before {
  content: '+';
  color: #22c55e;
}

/* Highlighted lines */
[data-highlighted-line] {
  --counter-color: var(--primary);
  padding-left: calc(var(--padding-left) - 2px);
  border-left: 2px solid color-mix(in oklab, var(--primary) 50%, transparent);
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
}

/* Highlighted words */
[data-highlighted-chars] {
  padding: 1px;
  border: 1px solid color-mix(in oklab, var(--primary) 30%, transparent);
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  border-radius: 0.375rem;
  font-weight: 500;
  margin-top: -1px;
  margin-bottom: -1px;
}



pre::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--border);
}

pre::-webkit-scrollbar-track {
  background: transparent;
}

pre code {
  padding: 0 !important;
  display: block;
}
